---
---

@import "variables";

.wrapper-masthead {
	margin-bottom: 0px;
	background-color: white;
	position: relative;
	z-index: 1200;
}

.masthead {
	padding-bottom: 20px;
	border: 0px;
}

nav {
	display: block;
	clear: both;
	float: none;
	margin: 0px auto;
	padding: 0.25em calc(50vw - 370px);
	font-size: 18px;
	text-align: right;
	border: 1px solid #DDDDDD;
	overflow: hidden;

	position: sticky;
	top: 0px;
	z-index: 1000;

	background-color: #EEEEEE;

	@include mobile {
		margin: 0px;
		font-size: 14px;
	}

	a {
		margin: 0px;
		padding: 0.5em;
		color: $darkGray;
		text-align: right;
		font-weight: normal;
		letter-spacing: normal;

		@include mobile {
			margin: 0px;
			color: $darkGray;
		}
	}
}
